@import "./mixin.scss";
@import "./variables.scss";
// *********    Typography   *********
h1 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  color: $text_primary;
}

h2 {
  font-size: 32px;
  line-height: 38px;
  color: $text_primary;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  color: $text_primary;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  color: $text_primary;
}

h5 {
  font-size: 18px;
  line-height: 24px;
  color: $text_primary;
}

h6 {
  font-size: 16px;
  line-height: 20px;
  color: $text_primary;
}

p {
  font-size: 18px;
  line-height: 24px;
  color: $text_primary;
}

samp {
  font-style: italic;
  letter-spacing: 0.018em;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 24px;
}

// Media queries
@media (max-width: 1000px) and (min-width: 500px) {
  h1 {
    font-size: 40px;
    line-height: 46px;
  }
  h2 {
    font-size: 24px;
    line-height: 36px;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  h4 {
    font-size: 16px;
    line-height: 24px;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
  samp {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 24px;
    line-height: 36px;
  }
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  h4 {
    font-size: 16px;
    line-height: 22px;
  }
  h5 {
    font-size: 14px;
    line-height: 18px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  samp {
    font-size: 16px;
    line-height: 24px;
  }
}
