@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet-view {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == mobile-view {
    @media only screen and (max-width: 500px) {
      @content;
    }
  } @else if $breakpoint == mobile-view-min {
    @media only screen and (max-width: 350px) {
      @content;
    }
  } @else if $breakpoint == desktop-view {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}
@mixin dflexwithjustifyandalign($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin dflexwithjustify($justify) {
  display: flex;
  justify-content: $justify;
}
@mixin dflexwithalign($align) {
  display: flex;
  align-items: $align;
}
