@import "@/assets/scss/mixin.scss";
@import "@/assets/scss/variables.scss";

.width-handler {
  margin-left: unset;
  margin-right: unset;
  max-width: 100%;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-inline: 0px;
  @include respond-to(tablet-view) {
    width: 100%;
    padding: 0px;
    padding-inline: 0px;
  }
}
.header-wrapper {
  background-color: $background_primary;
  @include dflexwithjustifyandalign(space-between, center);
  max-height: 70px;
  padding: 4px 24px;
  gap: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  @media (max-width: 1200px) {
    .business {
      display: none;
    }
  }
  .mbl-view-menu {
    display: none;
    @include respond-to(tablet-view) {
      display: block;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .logo {
    cursor: pointer;
  }
  .business {
    cursor: pointer;
  }
  .teach-courses {
    cursor: pointer;
  }
  .cart {
    img {
      cursor: pointer;
    }
  }
  .search-bar {
    flex-grow: 1;
    background-color: $background_secondary;
    border-radius: 24px;
    .search-input {
      background-color: $background_secondary;

      cursor: pointer;
      @include dflexwithalign(center);
      gap: 10px;
      border: 1px solid black;
      min-height: 25px;
      padding: 10px;
      width: 100%;
      border-radius: 9999px;
      img {
        width: 24px;
        height: 24px;
      }
      input {
        background-color: $background_secondary;

        width: 100%;
        &:focus-within {
          outline: none;
        }
        border: none;
        background-color: none;
      }
    }
  }
  .cart {
    width: 48px;
    height: 48px;
    @include dflexwithjustifyandalign(center, center);
    img {
      width: 48px;
      height: 48px;
    }
    .search-icon {
      display: none;
    }
  }
  .auth-buttons {
    @include dflexwithjustify(center);
    gap: 10px;
    height: 40px;
    a {
      text-decoration: none;
      @include dflexwithjustifyandalign(center, center);
      color: black;
      cursor: pointer;
      width: 80px;
      height: 100%;
      background-color: none;
      background: none;
      cursor: pointer;
      &:first-child {
        border: 1px solid;
        background-color: $background_primary var(--bg-primary-dark);
        color: $text_primary;
      }
      &:nth-child(2) {
        background-color: var(--bg-primary-dark);
        color: white;
        border: none;
      }
    }
    .langueages-btn {
      width: 40px;
      height: 100%;

      #english {
        display: none;
      }
      cursor: pointer;

      @include dflexwithjustifyandalign(center, center);
      border: 1px solid black;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  @include respond-to(tablet-view) {
    .teach-courses,
    .business,
    .search-bar,
    .auth-buttons {
      display: none;
    }
    .logo {
      cursor: pointer;
      width: -webkit-fill-available;
      display: flex;
      justify-content: center;
    }
    .cart {
      gap: 10px;
      .search-icon {
        display: block;
        width: 24px;
        height: 24px;
      }
    }
  }
}
