@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

.blog-banner-container {
  background-color: $background_primary;
  padding-block: 0px;
  padding-inline: 0px;
  @include respond-to(mobile-view) {
    .width_handle_basic {
      padding-inline: 0px;
    }
  }
}
.blog-banner {
  @include max-alignment;
  height: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-inline: 0px;
  background-color: $background_primary;
  display: none;
  padding-block: 0px;
  @include dflexwithalign(center);
  gap: 12px;

  a {
    text-decoration: none;
    &:hover {
      font-weight: 400;
    }
  }
  p {
    font-size: 14px;
    color: var(--text_primary);
  }
}
