@import "@/assets/scss/mixin.scss";
@import "@/assets/scss/variables.scss";
.sectionWrapper {
  background-color: $background_secondary;
}
.login-wrapper-width {
  padding-inline: 0px;
  padding-bottom: 0px;
  @include respond-to(tablet-view) {
    padding-inline: 24px;
  }
  @include respond-to(tablet-view) {
    padding: 32px;
  }
}
.login-page-wrapper {
  height: 100vh;
  @include dflexwithjustifyandalign(center, center);
  @include respond-to(tablet-view) {
    justify-content: start;
    align-items: start;
    margin-top: 64px;
    gap: 20px;
  }
  @include respond-to(mobile-view) {
    flex-direction: column;
    justify-content: start;
    margin-top: unset;
    gap: unset;
  }
  .img-wrapper {
    width: 50%;
    @include respond-to(tablet-view) {
      width: 100%;
    }
    .tablet-view-img {
      display: none;
      @include respond-to(tablet-view) {
        display: inline-block;
        color: transparent;
        object-fit: contain;
        object-position: center;
        height: 530px;
        width: 100%;
      }
      @include respond-to(mobile-view) {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: top;
        height: 200px;
      }
    }
    .login-page-img {
      max-width: 500px;
      max-height: 567px;
      width: 100%;
      height: 100%;
      @include respond-to(tablet-view) {
        display: none;
      }
    }
  }
  .registration-form-wrapper {
    h1 {
      text-align: center;
      @include respond-to(mobile-view) {
        font-size: 20px;
      }
    }
    max-width: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .registration-form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        border: none;
        width: 93%;
        &:focus {
          .input-wrapper {
            background-color: $background_secondary;
            padding: 10px 8px 0px;
          }
        }
      }
      .forgot-password {
        @include dflexwithjustifyandalign(center, center);
        color: $text_primary;

        gap: 10px;
      }
      .input-wrapper {
        background-color: $background_secondary;
        padding-inline: 20px;
        padding-top: 16px;
        border: 1px solid #2d2f31;
        min-height: 40px;
        height: 100%;
        position: relative;
        @include respond-to(tablet-view) {
          padding-inline: 10px;
        }
        input {
          position: absolute;
          background-color: $background_secondary;

          height: 90%;
          top: 1px;
        }

        p {
          position: absolute;
          z-index: 1;
          margin: 0px;
          padding: 0px;
          font-size: 15px;
          transition: font-size 0.2s step-end;
          font-weight: 500;
        }

        @keyframes animateLabelShrink {
          from {
            font-size: 15px;
          }
          to {
            font-size: 12px;
          }
        }

        @keyframes animateLabelGrow {
          from {
            font-size: 12px;
          }
          to {
            font-size: 15px;
          }
        }

        &:focus-within {
          position: relative;
          p {
            position: absolute;
            top: 5px;
            animation: animateLabelShrink 100ms forwards;
          }
        }

        &:not(:focus-within) {
          p {
            animation: animateLabelGrow 100ms forwards;
          }
        }

        input {
          border: none;
          outline: none;
          font-size: 14px;
        }
      }
      .check-box-div {
        display: flex;
        gap: 10px;
        align-items: start;

        input[type="checkbox"] {
          width: 16px;
          height: 16px;
          background-color: #f0f0f0;
          border: 1px solid #2d2f31;
          cursor: pointer;

          &:checked {
            background-color: #000000;
            color: white;
          }
          //   &:checked::after {
          //     content: "<-";
          //     position: absolute;
          //     top: 2px;
          //     left: 5px;
          //     width: 6px;
          //     height: 12px;
          //     border: solid white;
          //     border-width: 0 2px 2px 0;
          //     transform: rotate(45deg);
          //   }
        }

        p {
          font-size: 15px;
          padding: 0px;
          margin: 0px;
        }
      }
    }
    .login-btn {
      width: 100%;
      button {
        @include dflexwithjustifyandalign(center, center);
        gap: 5px;
        img {
          object-fit: contain;
          object-position: center;
        }
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        background-color: #a535f0;
        color: white;
        padding: 12px;
        margin-top: 16px;
        border: none;
      }
    }
    .others {
      margin-top: 20px;
      @include dflexwithjustifyandalign(space-between, center);
      gap: 1px;
      .seperator {
        max-width: 25%;
        width: 100%;
        height: 1px;
        background-color: #000000;
      }
      .content {
        color: $text_primary;

        @include respond-to(mobile-view) {
          font-size: 12px;
        }
      }
    }
    .social-login {
      margin-top: 20px;

      @include dflexwithjustifyandalign(center, center);
      gap: 20px;
      .social-icon {
        cursor: pointer;
        @include dflexwithjustifyandalign(center, center);
        width: 48px;
        height: 48px;
        border: 1px solid black;
      }
    }
    .terms {
      p {
        font-size: 14px;
        text-align: center;
        @include respond-to(mobile-view) {
          font-size: 10px;
        }
      }
    }
    .already-have-account {
      background-color: $background_primary;
      cursor: pointer;
      @include dflexwithjustifyandalign(center, center);
    }
  }
}
