@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

.account-setting-main {
  position: relative;
  background-color: $background_tertiary;
  @include respond-to(mobile-view) {
    padding-bottom: 100px;
  }
  @include respond-to(tablet-view-min) {
    padding: 20px;
  }

  .account-setting-container {
    max-width: 400px;
    margin-top: 60px;
    width: 100%;

    .bookmark-label-text {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    @include respond-to(tablet-view) {
      margin-top: 0px;
    }

    @include respond-to(mobile-view) {
      padding-top: 10px;
      padding-inline: 20px;
    }

    .pass-delete-title {
      margin-top: 20px;
    }
    p {
      font-size: 16px;
      margin-top: 16px;
    }
    @mixin account-setting-btn($bgcolor, $text_color, $width, $borderColor) {
      background-color: $bgcolor;
      color: $text_color;
      border: 1px solid $borderColor;
      margin-top: 30px;
      max-width: $width;
      width: 100%;
      height: 44px;
      border-radius: 26px;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        font-weight: normal;
        background: $background_blue;
        color: $primary_white;
      }
      &:disabled {
        background: $background_primary;
        border: 1px solid $background_primary;
        color: $text_secondary;
        cursor: not-allowed;
      }
    }
    .logout-btn-container {
      @include dflexwithjustifyandalign(space-between, center);
      .logout-btn {
        font-size: 14px;
        @include account-setting-btn(
          $background_primary,
          $text_primary,
          95px,
          $primary_border
        );
        margin-top: 0px;
        &:hover {
          background-color: $status_error;
        }
      }
    }

    .update-btn {
      @include account-setting-btn(
        $background_primary,
        $text_primary,
        95px,
        $primary_border
      );

      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 500;
      :disabled {
        cursor: not-allowed;
      }
    }
    .add-btn {
      font-size: 14px;
      font-weight: 500;
      @include account-setting-btn(
        $brand_primary,
        $text_tertiary,
        107px,
        $primary_border
      );
    }
    .change-password-btn {
      font-size: 14px;
      font-weight: 500;
      @include account-setting-btn(
        $brand_primary,
        $text_tertiary,
        168px,
        $primary_border
      );
    }

    .delete-btn {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 500;
      @include account-setting-btn(
        $backgorund_error,
        $text_secondary,
        177px,
        $status_error
      );
    }
    .image-input {
      label {
        position: relative;
        display: inline-block;
      }
      .input-image-container {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background-color: $background_primary;
        @include dflexwithjustifyandalign(center, center);

        overflow: hidden;
      }
      p {
        font-size: 12px;
        margin: 0px;
      }
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }
    .bookmark-container {
      position: relative;
      margin-top: 12px;
      .bookmark-input {
        position: relative;
        @include dflexwithalign(center);
        gap: 8px;
        button {
          background-color: unset !important;
          border: none;
        }
        .color-input {
          display: block;
          position: absolute;
          width: 1px;
          height: 1px;
          left: 2px;
          top: 9px;
          opacity: 0;
        }
      }
    }
  }
}
