@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

.main-bookmark-courses-wrapper {
  border: none;
  background-color: $background_primary;
  padding-bottom: 100px;
  @include respond-to(tablet-view) {
    padding-bottom: 26px;
  }
  .bookmark-courses-wrapper {
    @include max-alignment;
    background-color: $background_primary;
    @include respond-to(tablet-view) {
      padding-inline: 24px;
    }
  }
  .bookmark-course-header {
    @include dflexwithalign(center);
    gap: 5px;
    color: $primary_black;
    padding-bottom: 24px;
    @include respond-to(tablet-view) {
      padding-bottom: 18px;
    }
    svg {
      width: 32px;
      height: 32px;
    }
    @include respond-to(tablet-view) {
      svg {
        width: 18px !important;
        height: 18px Imp !important;
      }
    }
  }

  .topic-slider {
    display: flex;
    gap: 20px;
  }

  .bookmark-header-h3 {
    font-weight: $primary_weight;
    letter-spacing: 0.00054em;
    @include respond-to(tablet-view) {
      letter-spacing: 0.02em;
    }
  }
  .loading-wrapper {
    @include dflexwithalign(center);
    flex-direction: column;
    margin: 32px 0px;
  }
  .helper-text {
    font-size: 19px;
    @include respond-to(tablet-view) {
      font-size: 16px;
    }
  }
}
